@charset "UTF-8";
.points__search-results {
	display: none;
    position: absolute;
    z-index: 999;
    background: #fff;
    border: 1px solid #e4e4e4;
    list-style: none;
    font-size: 14px;
    border-radius: 3px;
    margin-top: 1px;
    padding: 0;
}
.points__search-results li {
    padding: 2px 5px;
    white-space: nowrap;
}
.points__search-results li:hover {
    background: #e4e4e4;
    cursor: pointer;
}