._price-page-container {
    width: 21cm;
    min-height: 29.7cm;
    padding: 2cm;
    margin: 1cm auto;
    background: white;
    -webkit-print-color-adjust:exact;
}
._price-block * {
    margin: 0;
    padding: 0;
}

._price-block {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px dotted #333;
    padding: 5px;
    width: 8cm;
    height: 5cm;
    font-size: 8px;
    font-family: 'Roboto', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0.03cm -0.02cm;
}

._header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 32px !important;
}

._left-content {
    width: 70%;
    padding-right: 10px;
}

._left-content h3 {
    font-size: 12px;
    line-height: 1.25em;
}

._right-content {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

._right-content ._date {
    font-size: 7px;
    margin-bottom: 4px;
}

._right-content h6 {
    font-size: 6px;
    margin-right: 15px;
    margin-bottom: 2px;
}

._price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

._price>span {
    font-size: 16px;
    font-weight: bold;
    margin-right: 4px;
    letter-spacing: -1px;
}

._price-old {
    position: relative;
}

._right-content ._price-old::after {
    content: '';
    display: block;
    position: absolute;
    top: 1em;
    left: -2px;
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
    height: 2px;
    width: 108%;
    border-radius: 2px;
    box-shadow: inset 0 0 0 2px #ff0000;
    -webkit-box-shadow: inset 0 0 0 2px #ff0000;
}

._price ._postfix {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 1px;
}

._price ._postfix ._num {
    font-size: 7px;
    font-weight: bold;
}

._price ._postfix ._string {
    height: 1px;
    width: 100%;
    background-color: #000;
}

._price ._postfix ._currency {
    font-size: 5px;
}

._main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: 2px;
    padding-top: 5px;
}

._main ._mark {
    position: relative;
    z-index: 0;
    padding: 7px;
    padding-left: 0;
}

._main ._mark::after {
    content: '';
    display: block;
    position: absolute;
    left: -5px;
    top: 0;
    box-shadow: inset 0 0 0 20px #e21111;
    -webkit-box-shadow: inset 0 0 0 20px #e21111;
    width: 100%;
    height: 100%;
    z-index: -1;
}

._main ._mark::before {
    content: '';
    display: block;
    position: absolute;
    right: -3px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 19px 0 19px 8px;
    border-color: transparent transparent transparent #e21111;
    z-index: -1;
}

._main ._mark span {
    font-size: 20px;
    text-transform: uppercase;
    color: #ebe703;
    font-weight: 700;
    z-index: 10;
}

._main ._price-new>span {
    font-size: 40px;
    line-height: 0.8em;
    letter-spacing: -2px;
}

._main ._price-new ._postfix {
    margin-top: -1px;
}

._main ._price-new ._num {
    font-size: 17px;
    line-height: 1em;
}

._price-for-one {
    font-weight: 600;
}

._main ._price-new ._currency {
    font-size: 12px;
}

._footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

._price-block.big-price ._mark{
    opacity: 0.4;
}

._price-block.big-price ._price._price-new {
    position: relative;
    right: 37px;
}

._header-top {
    width: calc(100% + 5px);
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    border-bottom: 1px solid #000;
    margin: 0 -5px 3px;
    padding: 1px 3px 4px;
}
._footer-bottom {
    width: calc(100% + 5px);
    font-size: 11px;
    line-height: 10px;
    text-align: left;
    border-top: 1px solid #000;
    margin: 3px -5px 0;
    padding: 6px 3px 0;
    font-family: sans-serif;
    letter-spacing: -0.5px;
}