.tabs-box {
    position: relative;
}
.tabs-box .tabs {
    z-index: 1;
}
.tabs-box .tabs .tabs_item {
    display: inline-block;
    padding: 7px 10px;
    margin-right: 2px;
    border: 1px solid #ccc;
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.tabs-box .tabs .tabs_item:first-child {
    border-left: 1px solid #ccc;
}
.tabs-box .tabs .tabs_item.active {
    z-index: 10;
    position: relative;
    border-bottom: 1px solid #fff;
}
.tabs__cont {
    border: 1px solid #ccc;
    padding: 10px;
    position: relative;
    top: -1px;
    z-index: 2;
}
.tabs__cont .tabs__cont_item {
    display: none;
}
.tabs__cont .tabs__cont_item.active {
    display: block;
}
