#js-rpochta-ops-map {
    border: 1px solid #ccc;
    margin: 5px 0;
    position: relative;
}
#js-rpochta-ops-content {
    width: 100%;
    height: 300px;
    position: relative;
}
#js-rpochta-ops-map ymaps .rpochta-ops-btn {
    float: left;
    margin-right: 10px;
    background: #e28c3d;
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
    border-radius: 3px;
}
#js-rpochta-ops-map ymaps .rpochta-ops-btn:hover {
    opacity: 0.7;
}
#js-rpochta-ops-map ymaps .rpochta-ops-btn-active {
    float: left;
    margin-right: 10px;
    background: #3c763d;
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
    border-radius: 3px;
}

#js-rpochta-ops-map ymaps .note-ops {
    border: 1px solid #999;
    padding: 5px;
    font-size: 0.8em;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    width: 100%;
}
