[type=checkbox].error + label {
    color: red;
}
.js-creditor-block {
    margin-bottom: 21px !important;    
}
.js-creditor-block .js-remove-creditor {
    font-size: 0.7em;
    text-align: right;
    width: 100%;
    margin-top: -10px;
}