.kontur_menu_section_list_ext {
    list-style: none;
    margin: 0;
    margin-left: 10px;
    padding-top: 10px;
     -webkit-transition: -webkit-transform .15s linear;
    -moz-transition: -moz-transform .15s linear;
    -ms-transition: -ms-transform .15s linear;
    -o-transition: -o-transform .15s linear;
    transition: transform .15s linear;
}
.kontur_menu_section_list_ext > li {
    display: table-cell;
    position: relative;
    padding: 3px 7px;
    white-space: nowrap;
    cursor: default;
}
.kontur_menu_section_list_ext li, .kontur_menu_section_list_ext a {
    color: #000;
    font-size: 13px;
}
.kontur_menu_section_list_ext > li, .kontur_menu_section_list_ext > li > a {
    text-decoration: underline;
}
.kontur_menu_section_list_ext li:hover, .kontur_menu_section_list_ext li:hover > a {
    color: #cc53bb;
}
.kontur_menu_section_list_ext > li > ul {
    position: absolute;
    border: 1px solid #EAEBEC;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 15px 3px rgba(234,235,236,1);
    -moz-box-shadow: 2px 2px 15px 3px rgba(234,235,236,1);
    box-shadow: 2px 2px 15px 3px rgba(234,235,236,1);
    display: none;
    border-radius: 10px;
    padding: 0;
    margin: 0;
   /* margin-top: 8px; */
   overflow: hidden;
}
.kontur_menu_section_list_ext > li:hover > ul {
    display: block;
    
}
.kontur_menu_section_list_ext > li > ul > li {
    display: block;
    border-bottom: 1px solid #EAEBEC;
    padding: 7px 15px;
}
.kontur_menu_section_list_ext > li > ul > li:first-child {
    padding-top: 10px;
}
/* .kontur_menu_section_list_ext > li > ul > li.selected, */
.kontur_menu_section_list_ext > li > ul > li:hover {
    background-color: rgba(204, 83, 187, 0.11);
    cursor: pointer;
}
.kontur_menu_section_list_ext > li.selected > a {
	color: #cc53bb;
	font-weight: bold;
}

.arrow_box {
	position: relative;
	background: #ffffff;
	border: 1px solid #EAEBEC;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 15%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 7px;
	margin-left: -7px;
}
.arrow_box:before {
	border-color: rgba(234, 235, 236, 0);
	border-bottom-color: #EAEBEC;
	border-width: 8px;
	margin-left: -8px;
}



