/* 
    Created on : 16.09.2016, 17:51:30
    Author     : Kiora.ru
*/


/*****************/
/* BUTTON STYLES */
/*****************/

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0.8rem;
	padding: 0.4rem 0.8rem;
	cursor: pointer;
	transition: all 60ms ease-in-out;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
	appearance: none;
	line-height: 1.3;
	font-weight: 500;
	text-transform: capitalize;
	;
	color: #4a4a4a;
	background-color: #f2f2f2;
	border: 0 none;
	border-radius: 3px;
}

.button:hover {
	transition: all 60ms ease;
	opacity: .85;
}

.button:active {
	text-decoration: none;
	transition: all 60ms ease;
	transform: scale(0.97);
	opacity: .75;
}

.button:visited {
	text-decoration: none;
}

.button.good {
    color: #FFFFF3;
    background: #47b8e0;
    min-height: 30px;
    width: 150px;
}

.modal-content .button.good,
#modal-button.button.good{
    margin: auto;
}

.button.button-bordered {
  color: #FFFFF3;
  border: 2px solid #FFFFF3;
  background: transparent;
}
.button.button-bordered:hover, .button.button-bordered:active {
  color: #ff7473;
  border-color: #FFFFF3;
  background: #FFFFF3;
	
}

/*************/
/*   MODAL   */
/*************/
/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1000;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: rgba(165,147,224,0.50);
    /* Black w/ opacity */
    transition: all 0.5s ease 0.06s;
}


/* Modal Content/Box */

.modal-content {
	position: relative;
    background-color: #fff;
    margin: 5% auto;
    /* 15% from the top and centered */
    padding: 1.2rem;
    max-width: 30%;
    min-width: 300px;
    /* Could be more or less, depending on screen size */
    visibility: hidden;
    box-shadow: 2px 2px 10px 0px rgba(99, 106, 119, 0.6);
    border-radius: 5px;
}

/* The Close Button */
.modal-content .closeModal {
    position: absolute;
	right: 10px;
    top: 10px;
	cursor: pointer;
}

.form-row.amount {
    font-weight: bold;
}

.close {
    color: #989898;
    font-size: 2.5rem;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 10px;
    opacity: 1;
}

.close:hover,
.close:focus {
    color: hsl(0, 100%, 70%);
    text-decoration: none;
    cursor: pointer;
}

.close:active,
.close:before:active {
    transition: all 60ms ease;
    transform: scale(0.97);
}


/***********************/
/*  modal form layout  */
/***********************/

.ki-yaka input {
    height: 26px;
    padding:3px !important;
}

.modal-content {
    display: flex;
    flex-direction: column;
}

.modal-header {
    align-items: center;
    padding: 5px;
    font-size: 2em;
    font-weight: bold;
}

.modal-header h3 {
    margin-top: 5px;
}
.modal-footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-top-width: 0px;
}

.modal-footer > input {
    margin-top: 0.8rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
}

.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-row {
    display: flex;
    width: 99%;
    align-items: center;
    padding: 0.4rem 0.4rem;
}

.form-row:nth-child(odd) {
	background: #f2f2f2;
}

.form-row label {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 50%;
        text-align: left;
}

.form-row input,
.form-row select {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 50%;
	border: 1px solid hsl(0, 0%, 90%);
	padding: 0.2rem 0.2rem;
	max-width: 50%;
}

.form-row input.error {
    background-color: #fff2f2;
    box-shadow: 0px 0px 7px 0px rgba(255, 125, 125, 0.84) inset;
}

.slideDown {
	animation-name: slideDown;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	visibility: visible !important;
}
@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(4%);
	}
	65%{
		transform: translateY(-2%);
	}
	80%{
		transform: translateY(2%);
	}
	95%{
		transform: translateY(-1%);
	}
	100% {
		transform: translateY(0%);
	}
}
