.kontur-chekcprice-table-snap-list td {
    padding: 2px 10px;
    border: 1px solid #c4ced2 !important;
    font-size: 13px;
}
.kontur-chekcprice-table-snap-list p {
    margin: 0;
    font-size: 13px;
}
.kontur-chekcprice-table-snap-list td.product-with-offers-heading {
    padding: 5px 10px;
    font-weight: bold;
}
.kontur-chekcprice-table-snap-list td.product-with-offers-heading a {
    font-weight: normal;
}
.kontur-chekcprice-table-snap-list td.offer-heading {
    padding-left: 40px;
}
.kontur-chekcprice-table-snap-list tbody td:not(:first-child) {
    width:15%;
    text-align:right;
}
.kontur-chekcprice-table-snap-list tbody td:first-child {
    text-align:left;
}
.kontur-chekcprice-table-snap-list tbody td:nth-last-child(2) {
    text-align:center;
}
.kontur-chekcprice-table-snap-list tr {
    background: #e9f0f2;
}
.kontur-chekcprice-table-snap-list tr.even {
    background: #f5f9f9;
}
.kontur-chekcprice-table-snap-list thead tr {
    background: #dce7ed;
}
.kontur-chekcprice-table-snap-list thead th {
    padding: 5px;
    text-transform: uppercase;
    border: 1px solid #c4ced2;
    text-align: left;
}
.kontur-chekcprice-table-snap-list thead th:not(:first-child) {
    text-align: right;
    padding-right: 10px;
}