#js-cdek-pvz-map {
    border: 1px solid #ccc;
    margin: 5px 0;
    position: relative;
}
#js-cdek-pvz-content {
    width: 100%;
    height: 300px;
    position: relative;
}
ymaps .cdek-pvz-btn {
    float: left;
    margin-right: 10px;
    background: #e28c3d;
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
    border-radius: 3px;
}
ymaps .cdek-pvz-btn:hover {
    opacity: 0.7;
}
ymaps .cdek-pvz-btn-active {
    float: left;
    margin-right: 10px;
    background: #3c763d;
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
    border-radius: 3px;
}

.cdek__pvz-map > ymaps, .cdek__pvz-map > ymaps > ymaps {
	min-width: 420px !important;
}
@media (max-width: 420px) {
	.cdek__pvz-map > ymaps, .cdek__pvz-map > ymaps > ymaps {
    	min-width: 280px !important;
	}
}
