.cdek__city {
  position: relative;
  margin-bottom: 10px;
}
.cdek__city-autocomplete {
  position: absolute;
  background: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin-top: -6px;
  display: none;
  font-size: 0.8em;
  z-index: 99;
  border: 1px solid #ccc;
  overflow: scroll;
  max-height: 200px;
  width: 70%;
}
.cdek__city-autocomplete ul {
  list-style: none !important;
}
.cdek__city-autocomplete ul li {
  white-space: nowrap;
  padding: 2px 10px;
  cursor: pointer;
  margin-bottom: 0;
}
.cdek__city-autocomplete ul li:nth-child(odd) {
  background-color: rgba(221, 221, 221, 0.53);
}
.cdek__city-autocomplete ul li:hover {
  background: #dcdcdc !important;
}

.cdek__info {
    display: block;
    background: #f5f5f5;
    padding: 5px;
    font-size: 0.8em;
    border-radius: 5px;
    width: 70%;
    border: 1px solid #ccc;
    margin-bottom: 5px;
	width: 100%;
}
.cdek__info .secondary {
    color: #444;
}
.cdek__info .secondary b {
    font-weight: normal;
    color: #444;
}

.cdek__variant label {
    font-weight: normal !important;
}
.cdek__variant > label {
    font-weight: bold !important;
    /*font-size: 0.9em !important;*/
}
.chosen-single {
    height: 28px !important;
}
