.menu-catalog {
    position: absolute;
    z-index: 99;
    top: 45px;
    background: #fff;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
}
.menu-catalog ul {
    list-style: none;
}
.menu-catalog li {
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    page-break-inside: avoid;
}
.menu-catalog a:hover {
    color: #A923E7;
}
.nav__catalog-top_header {
    font-size: 1.2em;
    text-transform: uppercase;
    display: block;
}
ul.nav__catalog-top_level-1 {
    column-count: 3;
}
ul:not(.nav__catalog-top_level-1) {
    padding-left: 15px;
}

ul.nav__catalog-top_level-1 > li > a {
    font-weight: bold;
    font-size: 0.9em;
    color: #000;
}
ul.nav__catalog-top_level-1 > li > a:hover {
    color: #A923E7;
}
ul.nav__catalog-top_level-2 {
    margin-bottom: 5px;
}
ul.nav__catalog-top_level-2 > li {
    padding: 0;
    margin: 0;
    line-height: 1em;
}
ul.nav__catalog-top_level-2 > li > a {
    color: #333;
    font-size: 0.85em;
}
ul.nav__catalog-top_level-3 {
    margin-bottom: 5px;
}
ul.nav__catalog-top_level-3 > li > a {
    color: #999;
    font-size: 0.85em;
}

