.kontur-chekcprice-table-snaps-list td {
    padding: 7px 10px;
    border: 1px solid #c4ced2 !important;
    font-size: 16px;
}
.kontur-checkprice-snapview-box > td {
    background: #f8f8f9;
    padding: 0;
    border-bottom: 20px solid #bdc6e0 !important;
}
.kontur-checkprice-snapview-box > td > div {
    margin: 7px 10px;
}
.kontur-chekcprice-table-snaps-list tbody td:not(:first-child){
    width:20%;
    text-align:center;
}
.kontur-chekcprice-table-snaps-list > tbody > tr:not(.kontur-checkprice-snapview-box) {
    background: #e7e4ba;
    color: #716536;
}
.kontur-chekcprice-table-snaps-list > tbody > tr:not(.kontur-checkprice-snapview-box) > td > a {
    color: #716536;
}
.kontur-chekcprice-table-snaps-list > tbody > tr:not(.kontur-checkprice-snapview-box).even {
    background: #e7e9ce;
}
.kontur-checkprice-list .adm-detail-title sup {
    font-size: 12px;
    color: #ccc;
    margin-left: 5px;
}
.kontur-checkprice-list .adm-detail-title > div {
    min-height: 30px;
    margin-right: -53px;
}
.kontur-checkprice-list .adm-detail-title a {
    float: right;
    position: relative;
    top: -5px;
}
