@CHARSET "UTF-8";
.dcart-mini-cart .minimize {
	cursor: pointer;
}
.dcart-mini-cart-item-info {
	width: 100%;
}
.dcart-mini-cart-item-info p {
	margin: 0 0 0 0 !important;
	text-align: left  !important;
}
.dcart-mini-cart-image {
	position: relative;
	right: 2px;
	float: left;
	width: 36px;
	height: 36px;
	border: 1px solid #ccc;
	margin: 2px 10px 5px 0px;
}
.dcart-mini-cart-image img {
	width: 36px;
	height: 36px;
}
ul.dcart-mini-cart-list {
	padding: 0 0 0 0 !important;
	margin: 0 0 0 0 !important;
}
li.dcart-mini-cart-item {
	padding: 5px 0 3px 0 !important; 
	border-bottom: 1px dotted #ccc;	
}
li.dcart-mini-cart-item > table {
	width: 100%;
	padding: 0 0 0 0 !important;
	margin: 0 0 0 0 !important;
}
li.dcart-mini-cart-item > table td {
	padding: 0 0 0 0 !important;
	margin: 3px !important;
}
li.dcart-mini-cart-item .count {
	width: 40px !important;
	text-align: right  !important;
}
li.dcart-mini-cart-item .count input {
	text-align: right  !important;
}